## Read data from txt
Useful functions: read.csv,read.table,fread
<br>
Inspect after importing: str,head,summary

## tidyr package 
gather(),separate()

In [3]:
library(tidyr)
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

### gather(): make wide data long

In [4]:
messy <- data.frame(
  name = c("Wilbur", "Petunia", "Gregory"),
  a = c(67, 80, 64),
  b = c(56, 90, 50)
)
messy

  name    a  b
1 Wilbur  67 56
2 Petunia 80 90
3 Gregory 64 50

In [5]:
messy %>%
  gather(drug,heartrate,a:b)

  name    drug heartrate
1 Wilbur  a    67
2 Petunia a    80
3 Gregory a    64
4 Wilbur  b    56
5 Petunia b    90
6 Gregory b    50

### separate(): split one variable to multiple variables

In [6]:
set.seed(10)
messy <- data.frame(
  id = 1:4,
  trt = sample(rep(c('control', 'treatment'), each = 2)),
  work.T1 = runif(4),
  home.T1 = runif(4),
  work.T2 = runif(4),
  home.T2 = runif(4)
)
messy

  id trt       work.T1    home.T1   work.T2   home.T2
1 1  treatment 0.08513597 0.6158293 0.1135090 0.05190332
2 2  control   0.22543662 0.4296715 0.5959253 0.26417767
3 3  treatment 0.27453052 0.6516557 0.3580500 0.39879073
4 4  control   0.27230507 0.5677378 0.4288094 0.83613414

In [7]:
tidier <- messy %>%
  gather(key,value,-id,-trt) %>%
  separate(key,c('location','time'),sep='\\.')
tidier

   id trt       location time value
1  1  treatment work     T1   0.08513597
2  2  control   work     T1   0.22543662
3  3  treatment work     T1   0.27453052
4  4  control   work     T1   0.27230507
5  1  treatment home     T1   0.61582931
6  2  control   home     T1   0.42967153
7  3  treatment home     T1   0.65165567
8  4  control   home     T1   0.56773775
9  1  treatment work     T2   0.11350898
10 2  control   work     T2   0.59592531
11 3  treatment work     T2   0.35804998
12 4  control   work     T2   0.42880942
13 1  treatment home     T2   0.05190332
14 2  control   home     T2   0.26417767
15 3  treatment home     T2   0.39879073
16 4  control   home     T2   0.83613414

## dplyr package
 - **filter(data, conditions)**        
 rows from data where conditions hold
<br>
 - **select(data, variables)**	   
 a subset of the columns in data, as specified in variables
<br>
 - **arrange(data, variables)**	 
 data sorted by variables
<br>
 - **group_by(data, variables)**
 a copy of data, with groups defined by variables
<br>
 - **summarize(data, newvar = function)**
 a data frame with newvar columns that summarize data (or each group in data) based on an aggregation function
<br>
 - **mutate(data, newvar = function)**	  
 a data frame with newvar columns defined by a function of existing columns
<br>
 - **join(data1, data2, variables)**
 a data frame that joins columns from data1 and data2 based on matching values of variables
<br>

### filter

In [8]:
tidier %>% 
  filter(trt=='control' & location=='work')

  id trt     location time value
1 2  control work     T1   0.2254366
2 4  control work     T1   0.2723051
3 2  control work     T2   0.5959253
4 4  control work     T2   0.4288094

### select

In [9]:
tidier %>%
  select(id,trt,value)

   id trt       value
1  1  treatment 0.08513597
2  2  control   0.22543662
3  3  treatment 0.27453052
4  4  control   0.27230507
5  1  treatment 0.61582931
6  2  control   0.42967153
7  3  treatment 0.65165567
8  4  control   0.56773775
9  1  treatment 0.11350898
10 2  control   0.59592531
11 3  treatment 0.35804998
12 4  control   0.42880942
13 1  treatment 0.05190332
14 2  control   0.26417767
15 3  treatment 0.39879073
16 4  control   0.83613414

### arrange

In [10]:
tidier %>%
  arrange(trt,location,time,desc(value))

   id trt       location time value
1  4  control   home     T1   0.56773775
2  2  control   home     T1   0.42967153
3  4  control   home     T2   0.83613414
4  2  control   home     T2   0.26417767
5  4  control   work     T1   0.27230507
6  2  control   work     T1   0.22543662
7  2  control   work     T2   0.59592531
8  4  control   work     T2   0.42880942
9  3  treatment home     T1   0.65165567
10 1  treatment home     T1   0.61582931
11 3  treatment home     T2   0.39879073
12 1  treatment home     T2   0.05190332
13 3  treatment work     T1   0.27453052
14 1  treatment work     T1   0.08513597
15 3  treatment work     T2   0.35804998
16 1  treatment work     T2   0.11350898

### group_by, summarize

In [11]:
tidier %>%
  group_by(trt,location) %>%
  summarize(count=n())

  trt       location count
1 control   home     4
2 control   work     4
3 treatment home     4
4 treatment work     4

In [12]:
tidier %>%
  group_by(trt,location) %>%
  summarize(mean_value=mean(value,na.rm=TRUE))

  trt       location mean_value
1 control   home     0.5244303
2 control   work     0.3806191
3 treatment home     0.4295448
4 treatment work     0.2078064

### mutate

In [13]:
tidier %>%
  mutate(value2 = value/2)

   id trt       location time value      value2
1  1  treatment work     T1   0.08513597 0.04256798
2  2  control   work     T1   0.22543662 0.11271831
3  3  treatment work     T1   0.27453052 0.13726526
4  4  control   work     T1   0.27230507 0.13615253
5  1  treatment home     T1   0.61582931 0.30791465
6  2  control   home     T1   0.42967153 0.21483576
7  3  treatment home     T1   0.65165567 0.32582783
8  4  control   home     T1   0.56773775 0.28386888
9  1  treatment work     T2   0.11350898 0.05675449
10 2  control   work     T2   0.59592531 0.29796265
11 3  treatment work     T2   0.35804998 0.17902499
12 4  control   work     T2   0.42880942 0.21440471
13 1  treatment home     T2   0.05190332 0.02595166
14 2  control   home     T2   0.26417767 0.13208883
15 3  treatment home     T2   0.39879073 0.19939537
16 4  control   home     T2   0.83613414 0.41806707

## data.table package

In [14]:
library(data.table)
dt_tidier = as.data.table(tidier)

Attaching package: ‘data.table’

The following objects are masked from ‘package:dplyr’:

    between, first, last

### filter

In [15]:
dt_tidier[trt=='control' & location=='work',]

  id trt     location time value
1 2  control work     T1   0.2254366
2 4  control work     T1   0.2723051
3 2  control work     T2   0.5959253
4 4  control work     T2   0.4288094

In [16]:
dt_tidier[1:2]

  id trt       location time value
1 1  treatment work     T1   0.08513597
2 2  control   work     T1   0.22543662

### arrange

In [17]:
dt_tidier[order(trt,location,time,-value)]

   id trt       location time value
1  4  control   home     T1   0.56773775
2  2  control   home     T1   0.42967153
3  4  control   home     T2   0.83613414
4  2  control   home     T2   0.26417767
5  4  control   work     T1   0.27230507
6  2  control   work     T1   0.22543662
7  2  control   work     T2   0.59592531
8  4  control   work     T2   0.42880942
9  3  treatment home     T1   0.65165567
10 1  treatment home     T1   0.61582931
11 3  treatment home     T2   0.39879073
12 1  treatment home     T2   0.05190332
13 3  treatment work     T1   0.27453052
14 1  treatment work     T1   0.08513597
15 3  treatment work     T2   0.35804998
16 1  treatment work     T2   0.11350898

### select

In [18]:
dt_tidier[,.(id,trt,value)]

   id trt       value
1  1  treatment 0.08513597
2  2  control   0.22543662
3  3  treatment 0.27453052
4  4  control   0.27230507
5  1  treatment 0.61582931
6  2  control   0.42967153
7  3  treatment 0.65165567
8  4  control   0.56773775
9  1  treatment 0.11350898
10 2  control   0.59592531
11 3  treatment 0.35804998
12 4  control   0.42880942
13 1  treatment 0.05190332
14 2  control   0.26417767
15 3  treatment 0.39879073
16 4  control   0.83613414

### mutate

In [19]:
dt_tidier[,value2 := mean(value)]
dt_tidier

   id trt       location time value      value2
1  1  treatment work     T1   0.08513597 0.3856001
2  2  control   work     T1   0.22543662 0.3856001
3  3  treatment work     T1   0.27453052 0.3856001
4  4  control   work     T1   0.27230507 0.3856001
5  1  treatment home     T1   0.61582931 0.3856001
6  2  control   home     T1   0.42967153 0.3856001
7  3  treatment home     T1   0.65165567 0.3856001
8  4  control   home     T1   0.56773775 0.3856001
9  1  treatment work     T2   0.11350898 0.3856001
10 2  control   work     T2   0.59592531 0.3856001
11 3  treatment work     T2   0.35804998 0.3856001
12 4  control   work     T2   0.42880942 0.3856001
13 1  treatment home     T2   0.05190332 0.3856001
14 2  control   home     T2   0.26417767 0.3856001
15 3  treatment home     T2   0.39879073 0.3856001
16 4  control   home     T2   0.83613414 0.3856001

In [20]:
dt_tidier[, .(value2 = mean(value))]

  value2
1 0.3856001

### group_by and summarize

In [21]:
dt_tidier[,.(count=.N), by = .(trt,location)]

  trt       location count
1 treatment work     4
2 control   work     4
3 treatment home     4
4 control   home     4

In [22]:
dt_tidier[,.(mean_value=mean(value,na.rm=TRUE)), by = .(trt,location)]

  trt       location mean_value
1 treatment work     0.2078064
2 control   work     0.3806191
3 treatment home     0.4295448
4 control   home     0.5244303

In [23]:
dt_tidier[,.(count=.N), value>0.5]

  value count
1 FALSE 11
2  TRUE  5

### Multiple columns in j - .SD
data.table provides a special symbol, called .SD. It stands for Subset of Data. It by itself is a data.table that holds the data for the current group defined using by.

In [24]:
dt_tidier[, print(.SD), by=trt]

   id location time      value    value2
1:  1     work   T1 0.08513597 0.3856001
2:  3     work   T1 0.27453052 0.3856001
3:  1     home   T1 0.61582931 0.3856001
4:  3     home   T1 0.65165567 0.3856001
5:  1     work   T2 0.11350898 0.3856001
6:  3     work   T2 0.35804998 0.3856001
7:  1     home   T2 0.05190332 0.3856001
8:  3     home   T2 0.39879073 0.3856001
   id location time     value    value2
1:  2     work   T1 0.2254366 0.3856001
2:  4     work   T1 0.2723051 0.3856001
3:  2     home   T1 0.4296715 0.3856001
4:  4     home   T1 0.5677378 0.3856001
5:  2     work   T2 0.5959253 0.3856001
6:  4     work   T2 0.4288094 0.3856001
7:  2     home   T2 0.2641777 0.3856001
8:  4     home   T2 0.8361341 0.3856001

     trt

- .SD contains all the columns except the grouping columns by default.
<br>
- It is also generated by preserving the original order - data corresponding to ID = "treatment", then ID = "control".

To compute on (multiple) columns, we can then simply use the base R function lapply().

In [26]:
DT = data.table(ID = c("b","b","b","a","a","c"), a = 1:6, b = 7:12, c = 13:18)
DT
DT[, lapply(.SD,mean), by=ID]

  ID a b  c
1 b  1  7 13
2 b  2  8 14
3 b  3  9 15
4 a  4 10 16
5 a  5 11 17
6 c  6 12 18

  ID a   b    c
1 b  2.0  8.0 14.0
2 a  4.5 10.5 16.5
3 c  6.0 12.0 18.0

**How can we return the first two rows for each trt?**

In [29]:
dt_tidier[,head(.SD,2),by=trt]

  trt       id location time value      value2
1 treatment 1  work     T1   0.08513597 0.3856001
2 treatment 3  work     T1   0.27453052 0.3856001
3 control   2  work     T1   0.22543662 0.3856001
4 control   4  work     T1   0.27230507 0.3856001

**.SDcols**
<br>
It accepts either column names or column indices. For example, .SDcols = c("arr_delay", "dep_delay") ensures that .SD contains only these two columns for each group.

In [28]:
dt_tidier[, lapply(.SD, mean),by=trt,.SDcols=c('value','value2')]

  trt       value     value2
1 treatment 0.3186756 0.3856001
2 control   0.4525247 0.3856001